furo @ git+https://github.com/frogcjn/torchquantum-doc-furo-theme.git
nbsphinx
recommonmark

torchquantum>=0.1
opt_einsum
qiskit_ibm_runtime
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
